@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F0F2F5;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 10%;
}

#perfis {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(-9vh);
}

#logo-facebook img {
    height: 35px;
    width: 190px;
}

#titulo {
    font-weight: normal;
    margin-top: 3%;
}

#subtitulo {
    margin-bottom: 4%;
    font-size: 15px;
    color: rgb(82, 81, 81);
}

#opcoes {
    display: flex;
    align-items: center;
    gap: 20px;
}

#meu-perfil, #add-conta {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}

#meu-perfil:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.377);
    transition: .2s;
}

#add-conta:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.329);
    transition: .2s;
}

#meu-perfil img, #fundo-img {
    width: 160px;
    height: 160px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#fundo-img {
    background-color: #F5F6F7;
}

#add-conta img {
    width: 42px;
    height: 42px;
    margin-top: 37%;
}

.text {
    padding: 10px;
    background-color: #fff;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#texto-nova_conta {
    color: #1976F2;
}

#login, #form-perfil, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#form-perfil {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.411);
    width: 400px;
    height: 340px;
    gap: 20px;
    padding: 15px;
    border-radius: 6px;
}

#form-perfil form {
    gap: 10px;
}

.campos {
    padding: 16px;
    font-size: 17px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
}

#forgot-password {
    text-decoration: none;
    text-transform: none;
    color: #1976F2;
    font-size: 14px;
}

#forgot-password:hover {
    text-decoration: underline;
}

#linha {
    border-bottom: 1px solid #dadde1;
    width: 100%;
}

#nova-conta {
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    background-color: #36A420;
    color: #fff;
    cursor: pointer;
}

#nova-conta:hover {
    background-color: #2f941b;
    transition: .2s;
}

#btn-submit {
    border: none;
    border-radius: 6px;
    background-color: #1877F2;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 350px;
    cursor: pointer;
}

#texto-anuncio {
    margin-top: 7%;
    font-size: 14px;
    width: 90%;
}

#texto-anuncio a {
    text-decoration: none;
    text-transform: none;
    color: #000;
}

#texto-anuncio a:hover {
    text-decoration: underline;
}